<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeveloperChat - 400</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body class="body">
    <section class="four404">
        <div class="four404-place">
            <div class="four404-image">
                <img src="/public/404cat.jpg" alt="" srcset="">
            </div>
            <div class="four404-title">
                <span class="four404-title-span">404 Error</span><br>
                <span class="four404-title-desc">Page has not been founded meow</span>
            </div>
        </div>
    </section>
</body>
</html>