<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeveloperChat - Register page</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body class="body">
    <section class="register">
        <div class="register-place">
            <div class="register-title">
                Register
            </div>
            <div class="register-form">
                <form action="" method="post">
                    <div class="register-form-email">
                        <label for="register-email">Email</label>
                        <input type="email" name="email" id="register-email" placeholder="pixibojemail123@example.com">
                    </div>
                    <div class="register-form-username">
                        <label for="register-username">Username</label>
                        <input type="text" name="username" id="register-username" placeholder="pixiboj123">
                    </div>
                    <div class="register-form-password">
                        <label for="register-password">Password</label>
                        <input type="password" name="password" id="register-password" placeholder="pixibojloveeminem123">
                    </div>
                    <div class="register-form-error">
                        <% if (message != null) { %>
                            <%= message %>
                        <% } %>
                    </div>
                    <div class="register-form-submit">
                        <input type="submit" id="register-submit" value="Let's go">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>