<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeveloperChat - <%= username %>, Thanks for registering!</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body class="body">
    <section class="thanks">
        <div class="thanks-place">
            <div class="thanks-title">
                Thanks for registering!
            </div>
            <div class="thanks-desc">
                Hello <%= username %> you start a new beautiful adventure in a totally new community for you!
            </div>
            <div class="thanks-button">
                <a href="/client">
                    <button class="thanks-btn">START ADVENTURE</button>
                </a>
            </div>
        </div>
    </section>
</body>
</html>